# Xmake cache
.xmake/
build/
makefile

vsxmake2022/

# snmp_pp config file
external/snmp_pp/config.h
external/snmp_pp/include/snmp_pp/config_snmp_pp.h
external/snmp_pp/libsnmp.h
external/snmp_pp/include/system/

# for VS Code
.vscode/
